*   {
    font-family: 'Roboto', sans-serif;
}

.icon   {
    width: 60px;
    height: auto;
}

.landscape  {
    width: 450px;
    height: auto;
}

li  {
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 0 150px;
}

.hero-second    {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.intro  {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.intro-left {
    width: 450px;
}

.intro-right    {
    margin-top: 30px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
    margin-bottom: -15px;
}

.logo   {
    display: flex;
    gap: 15px;
}

.logo-text   {
    font-size: 24px;
    color: #f9faf8;
}

ul  {
    display: flex;
    gap: 30px;
}

button  {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 6px 24px;
    border-radius: 5px;
}

.info-pic   {
    width: 160px;
    border-radius: 5px;
}

.sec-info   {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.img-container  {
    display: flex;
    gap: 60px;
}

.pic-text   {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    text-align: center;
    font-size: 18px;
}

.info-header    {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}